/* Color Palette:

#ffffff - White
#ffffffcc - Off-white
#7e47eb - Purple
#8b5cf6 - Violet
#2b303b - Dark Gray
#737b8c - medium-Gray
#e4e4e7 - Light Gray
#ff0000 - Red
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ui-sans-serif", "system-ui", sans-serif;
}

body {
  background-color: #ffffffcc;
}

header {
  width: 100%;
  height: 72.8px;
  background-color: #ffffffcc;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid #e4e4e7;
  position: sticky;
  top: 0;
}

nav {
  max-width: 1152px;
  height: 100%;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.website-name {
  color: #2b303b;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.website-logo {
  width: 40px;
  height: 40px;
}

.website-logo img {
  width: 100%;
  height: 100%;
}

.website-name h1 {
  font-size: 24px;
  font-weight: bolder;
  margin-left: 12px;
}

main {
  padding: 0 0 64px;
}

section {
  max-width: 1152px;
  margin: 0 auto;
  padding: 48px 16px;
}

#hero-section {
  padding: 64px 16px 32px;
}

#hero-section h1 {
  margin: 0 0 24px;
  font-size: 60px;
  text-align: center;
  line-height: 100%;
  color: #7e47eb;
}

#hero-section p {
  margin: auto;
  line-height: 1.5;
  font-size: 20px;
  text-align: center;
  color: #737b8c;
}

.generate-container,
.create-container {
  margin-bottom: 32px;
  text-align: center;
}

.generate-container h2,
.create-container h2 {
  font-size: 36px;
  margin-bottom: 12px;
  line-height: 2.5rem;
  background: linear-gradient(90deg, #7e47eb, 50%, #ffffffcc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.generate-container p,
.create-container p {
  color: #737b8c;
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 1.5;
}

#favorites-btn,
#generate-btn,
#save-palette-btn {
  height: 44px;
  background-color: #7e47eb;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 0 32px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(126, 71, 235, 0.3);
  transition: all 0.3s ease;
}

#favorites-btn:hover,
#generate-btn:hover,
#save-palette-btn:hover {
  background-color: #8b5cf6;
}

#favorites-btn i,
#generate-btn i,
#save-palette-btn i {
  margin-right: 11px;
}

#palette-container {
  width: 500px;
  height: 212.8px;
  margin: auto;
  border-radius: 12px;
  border: 1px solid #e4e4e7;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.palette-color,
.color-container {
  height: 100%;
  flex-basis: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.15s ease;
}

.palette-color i,
.color-container i {
  font-size: 22px;
}

.color-container {
  flex-direction: column;
  position: relative;
}

.custom-color {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.palette-color:hover,
.color-container:hover {
  flex-basis: 260%;
}

.color-tools {
  padding: 12px 0 0;
  display: flex;
  gap: 12px;
  position: absolute;
  top: 0;
}

.color-tools i {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 17px;
  border-radius: 5px;
}

.color-tools i:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.color-tools i.fa-pen-to-square:hover {
  color: #8b5cf6;
}

.color-tools i.fa-trash:hover {
  color: #ff0000;
}

#border {
  max-width: 1152px;
  margin: 0 auto;
  padding: 32px 16px;
}

hr {
  border: none;
  height: 0.8px;
  background-color: #e4e4e7;
}

.input-container {
  width: 448px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#color-input {
  font-family: "ui-monospace", "SFMono-Regular", Menlo, Monaco, Consolas,
    "Liberation Mono", monospace;
  width: 388px;
  height: 40px;
  border: 1px solid #e4e4e7;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.25rem;
  color: #2b303b;
  outline: none;
}

#color-input:focus {
  box-shadow: 0px 0px 0px 3.6px #7e47eb;
  outline: 2px solid #ffffff;
}

.add-color-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px;
}

.add-color-container button {
  width: 48px;
  height: 40px;
  background-color: #7e47eb;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.input-container button:hover {
  background-color: #8b5cf6;
}

#empty-palette {
  padding: 64px 0;
  text-align: center;
}

.website-logo-bg {
  width: 64px;
  height: 64px;
  margin: 0 auto 16px;
}

.website-logo-bg img {
  width: 100%;
  height: 100%;
}

#empty-palette p {
  color: #737b8c;
  font-size: 16px;
  line-height: 1.5;
}

footer {
  width: 100%;
  background-color: #ffffffcc;
  border-top: 1px solid #e4e4e7;
  padding: 32px 0;
  margin: 64px 0 0;
}

footer p {
  max-width: 1120px;
  color: #737b8c;
  font-size: 14px;
  line-height: 1.25rem;
  text-align: center;
  margin: auto;
}

footer a {
  color: #7e47eb;
  font-weight: 600;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#toast {
  width: 354px;
  height: 52px;
  position: fixed;
  bottom: 34px;
  right: 34px;
  background-color: #ffffff;
  color: #2b303b;
  font-weight: 600;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #e4e4e7;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: start;
  transition: all 1s ease;
}

.toast-icon {
  background-color: #2b303b;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.toast-icon i {
  color: #ffffff;
  font-size: 8px;
}

.toast-content {
  font-size: 13px;
}

.close {
  transform: translateY(50px);
  opacity: 0;
}

/* Responsive design for tablets */
@media (max-width: 1025px) {
  nav {
    max-width: 90%;
  }

  section {
    padding: 64px 16px;
  }

  #hero-section {
    max-width: 90%;
    padding: 128px 16px 64px;
  }

  #hero-section h1 {
    line-height: 5rem;
  }

  #hero-section p {
    padding: 16px 8px;
  }

  .generate-container,
  .create-container {
    margin-bottom: 96px;
  }

  .generate-container h2,
  .create-container h2 {
    margin-bottom: 36px;
  }

  .generate-container p,
  .create-container p {
    font-size: 18px;
    margin-bottom: 56px;
  }

  #favorites-btn,
  #generate-btn,
  #save-palette-btn {
    font-size: 18px;
  }

  #palette-container {
    width: 90%;
    height: 300px;
  }

  .palette-color,
  .color-container {
    font-size: 18px;
  }

  .input-container {
    width: 70%;
  }

  #color-input {
    width: 100%;
    height: 56px;
    font-size: 22px;
  }

  .add-color-container {
    margin: 0 0 8px;
  }

  .add-color-container button {
    width: 64px;
    height: 56px;
    font-size: 22px;
    margin-left: 8px;
  }

  .website-logo-bg {
    margin: 0 auto 48px;
  }

  #empty-palette p {
    font-size: 18px;
  }

  .palette-color i,
  .color-container i {
    font-size: 22px;
  }

  #toast {
    top: 108px;
    left: calc(50vw - 177px);
  }

  .close {
    transform: translateY(-50px);
  }
}

/* Responsive design for phones */
@media (max-width: 768px) {
  header {
    height: 56px;
  }

  nav {
    max-width: 95%;
  }

  .website-logo {
    width: 32px;
    height: 32px;
  }

  .website-name h1 {
    font-size: 22px;
  }

  section,
  #hero-section {
    max-width: 90%;
    padding: 64px 16px 32px;
  }

  #hero-section h1 {
    font-size: 34px;
    line-height: 3rem;
  }

  #hero-section p {
    font-size: 16px;
  }

  .generate-container,
  .create-container {
    margin-bottom: 96px;
  }

  .generate-container h2,
  .create-container h2 {
    font-size: 22px;
    margin-bottom: 36px;
  }

  .generate-container p,
  .create-container p {
    font-size: 16px;
    margin-bottom: 56px;
  }

  #favorites-btn {
    font-size: 10px;
    padding: 0 8px;
    height: 36px;
  }

  #favorites-btn i {
    margin-right: 6px;
  }

  #generate-btn,
  #save-palette-btn {
    font-size: 14px;
  }

  #palette-container {
    width: 100%;
    height: 170px;
  }

  .palette-color,
  .color-container {
    font-size: 18px;
  }

  .input-container {
    width: 95%;
  }

  #color-input {
    height: 44px;
  }

  .add-color-container button {
    width: 48px;
    height: 44px;
    font-size: 18px;
  }

  #empty-palette p {
    font-size: 16px;
  }

  .palette-color i,
  .color-container i {
    font-size: 22px;
  }

  footer {
    padding: 22px 0;
  }

  #toast {
    width: 280px;
    height: 42px;
    top: 84px;
    left: calc(50vw - 140px);
  }

  .close {
    transform: translateY(-50px);
  }
}