/* Color Palette:

#ffffff - White
#ffffffcc - Off-white
#7e47eb - Purple
#8b5cf6 - Violet
#2b303b - Dark Gray
#737b8c - medium-Gray
#e4e4e7 - Light Gray
#ff0000 - Red
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ui-sans-serif", "system-ui", sans-serif;
}

body {
  background-color: #ffffffcc;
}

header {
  width: 100%;
  height: 72.8px;
  background-color: #ffffffcc;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid #e4e4e7;
  position: sticky;
  top: 0;
}

nav {
  max-width: 1152px;
  height: 100%;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.website-name {
  color: #2b303b;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.website-logo {
  width: 40px;
  height: 40px;
}

.website-logo img {
  width: 100%;
  height: 100%;
}

.website-name h1 {
  font-size: 24px;
  font-weight: bolder;
  margin-left: 12px;
}

main {
  padding: 0 0 64px;
  transition: all 0.6s ease;
}

section {
  max-width: 1152px;
  margin: 0 auto;
  padding: 64px 16px 32px;
}

#hero-section h1 {
  margin: 0 0 24px;
  font-size: 60px;
  text-align: center;
  line-height: 100%;
  color: #7e47eb;
}

#hero-section p {
  margin: auto;
  line-height: 1.5;
  font-size: 20px;
  text-align: center;
  color: #737b8c;
}

#empty-palette {
  padding: 64px 0;
  text-align: center;
}

.website-logo-bg {
  width: 64px;
  height: 64px;
  margin: 0 auto 16px;
}

.website-logo-bg img {
  width: 100%;
  height: 100%;
}

#empty-palette p {
  color: #737b8c;
  font-size: 16px;
  line-height: 1.5;
}

#empty-palette a {
  color: #7e47eb;
  text-decoration: none;
}

#empty-palette a:hover {
  text-decoration: underline;
}

#favorites-section {
  max-width: 1400px;
}

#favorite-palettes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.palette-container {
  height: 170px;
  border-radius: 12px;
  border: 1px solid #e4e4e7;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.palette-color {
  height: 100%;
  flex-basis: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.15s ease;
}

.palette-color:hover {
  flex-basis: 260%;
}

.palette-color i {
  font-size: 22px;
}

.palette-tools {
  padding: 6px 0 0;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.palette-tools i {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 17px;
  border-radius: 5px;
  cursor: pointer;
}

.palette-tools i:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.palette-tools i.fa-pen-to-square:hover {
  color: #8b5cf6;
}

.palette-tools i.fa-trash:hover {
  color: #ff0000;
}

#toast {
  width: 354px;
  height: 52px;
  position: fixed;
  bottom: 34px;
  right: 34px;
  background-color: #ffffff;
  color: #2b303b;
  font-weight: 600;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #e4e4e7;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: start;
  transition: all 1s ease;
}

.toast-icon {
  background-color: #2b303b;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.toast-icon i {
  color: #ffffff;
  font-size: 8px;
}

.toast-content {
  font-size: 13px;
}

.close {
  transform: translateY(50px);
  opacity: 0;
}

/* Responsive design for tablets */
@media (max-width: 1025px) {
  nav {
    max-width: 90%;
  }

  section {
    max-width: 90%;
    padding: 128px 16px 64px;
  }

  #hero-section h1 {
    line-height: 5rem;
  }

  #hero-section p {
    padding: 16px 8px;
  }

  .website-logo-bg {
    margin: 0 auto 48px;
  }

  #empty-palette p {
    font-size: 18px;
  }

  #favorites-section {
    max-width: 95%;
    padding: 64px 16px;
  }

  #favorite-palettes {
    grid-template-columns: repeat(2, 1fr);
  }

  .palette-color {
    font-size: 18px;
  }

  .palette-color i,
  .palette-tools i {
    font-size: 22px;
  }

  #toast {
    top: 108px;
    left: calc(50vw - 177px);
  }

  .close {
    transform: translateY(-50px);
  }
}

/* Responsive design for phones */
@media (max-width: 768px) {
  header {
    height: 56px;
  }

  nav {
    max-width: 95%;
  }

  .website-logo {
    width: 32px;
    height: 32px;
  }

  .website-name h1 {
    font-size: 22px;
  }

  section {
    max-width: 90%;
    padding: 64px 16px 32px;
  }

  #hero-section h1 {
    font-size: 34px;
    line-height: 3rem;
  }

  #hero-section p {
    font-size: 16px;
  }

  #favorite-palettes {
    grid-template-columns: 1fr;
  }

  #toast {
    width: 280px;
    height: 42px;
    top: 84px;
    left: calc(50vw - 140px);
  }

  .close {
    transform: translateY(-50px);
  }
}